.card {
	box-shadow: 0 0 5px rgba(0,1,2,.3);
	position: relative;
	top: -10px;
	left: 10px;
	width: 300px;
	background-color: #FFFFFF;
	font-family: 'Noto Sans';
}


.card-grid{
	max-height: 300px;
	overflow: hidden;
	margin-bottom: 30px;
	box-shadow: 0 0 2px rgba(0,1,)
}

.card{
	max-height: 300px;
	overflow: hidden;
	margin-bottom: 30px;
	box-shadow: 0 0 2px rgba(0,1,)
}
.card-text{
	font-size: 18px;
	padding: 0px 0 20px 0;
	text-align: center;
	font-family: 'Noto Sans TC', sans-serif;
	font-weight: 300;
}


.image-wall-text{
	font-size: 20px;
	padding: 0px 0 5px 0;
	text-align: center;
	font-family: 'Noto Sans TC', sans-serif;
	font-weight: 300;
}

.image-wall-grid{
	max-height: 300px;
	overflow: hidden;
	margin-top: 40px;
	margin-bottom: 30px;
	box-shadow: 0 0 2px rgba(0,1,)
}

@media (min-width: 992px) {
	.card-horizontal .card-content{
		background-color: #fff;
		position: absolute;
		width: 50%;
		height: 100%;
		top: 0;
		right: 0;
		z-index: 1 ;
	}
	.card-horizontal-left  .card-content{
		right: auto;
		left:;
	}
}

.card-content {
	padding: 15px;
}

/*.card-content:after {
	content: "";
	display: block;
	clear: both;
}*/

.card .title {
	margin-top: 0;
	margin-bottom: 5px;
}

.card .title + p {
	margin-top: 0;
}

.card > .table {
	border-left: none;
	border-right: none;
}

.card > .nav .nav-link {
	padding: 5px 15px;
	border-top: 1px solid rgba(0,0,0,.05);
	display: block
}









