.book-site-banner-content {
	position: absolute;
	font-size: 30pt;
	top: 50%;
	left: 50%;
	min-width: 80%;
	transform: translate(-50%,-50%);
	color: #FFFFFF;
	text-align: center;
}

.book-taiwan-bg {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	overflow: hidden;
	background: url('../images/book-taiwan-bg.jpg') center center no-repeat;
	background-size: cover;
}

.book-overseas-bg {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	overflow: hidden;
	background: url('../images/book-overseas-bg.jpg') center center no-repeat;
	background-size: cover;
}

.book-section-title{
	font-size: 26px;
	font-weight: 500;
	font-family: 'Noto Sans TC', sans-serif;
	text-align: center;
}


.book-title-sub{
	margin-left: auto;
	margin-right: auto;
 	font-family: 'Noto Sans TC', sans-serif;
	font-size: 19px;
	text-align: left;
}