.room-front-site-banner-bg {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	overflow: hidden;
	background: url('../images/18.jpg') center center no-repeat;
	background-size: cover;
}

.room-front-site-banner {
	height: 50vh;
	position: relative;
}
